/* Hereda mismo diseño base que Login */

.registro-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #f4f4f4;
  overflow-y: auto;
  padding: 1rem;
  align-items: flex-start;
  font-family: 'Lexend Deca', sans-serif;
}

.registro-form {
  width: 100%;
  max-width: 50rem;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}



/* Título */
.registro-form h1 {
  color: #435465;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: -3rem;
}

/* Diseño de columnas */
.form-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.col-left,
.col-right {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
}

/* Label e inputs */
.registro-form label {
  font-size: 1rem;
  font-weight: 500;
  color: #4A4853;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}

.registro-form input,
.registro-form select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.7rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: white;
}

/* Botón principal */
.registro-form button[type="submit"] {
  margin-top: 1rem;
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.7rem;
  font-size: 1rem;
  background-color: #AC6C8E;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: 'Lexend Deca', sans-serif;
}

.registro-form button[type="submit"]:hover {
  background-color: #975974;
}

/* Botón Volver */
.volverregistro {
  color: #458899;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: transform 0.2s ease;
}

.volverregistro:hover {
  text-decoration: underline;
  transform: translateX(-3px);
}

/* Footer */
.registro-form footer {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #4A4853;
  text-align: center;
}

/* Responsive */
@media (max-width: 600px) {
  .form-grid {
    flex-direction: column;
  }

  .registro-form .volver {
    font-size: 1rem;
    text-align: center;
    display: block;
  }
}
